.footer {
  padding: 10rem 0;
  background-color: #333;
  color: $color-white;

  @include respond(tab-port) {
    padding: 8rem 0;
    gap: 3.2rem;
  }

  &__logo-box img {
    width: 15%;
    @include respond(phone) {
      width: 25%;
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    list-style: none;

    padding-top: 1.5rem;
    border-top: 1px solid $color-gray-light;

    @include respond(tab-port) {
      padding-top: 1rem;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    a:link,
    a:visited {
      color: transparent;
      text-transform: uppercase;
      text-decoration: none;
      background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-secondary-light
      );
      -webkit-background-clip: text;
      font-size: $font-size-default;
    }
  }

  &__paragraph {
    border-top: 1px solid $color-gray-light;
    padding-top: 1.5rem;
    font-size: $font-size-default;
  }
}
