// COLORS
// $color-primary-light: #0284c7;
// $color-primary: #0369a1;
// $color-primary-dark: #075985;

$color-primary: #dc2626;
$color-secondary: #2563eb;

$color-gray-light: #f7f7f7;

$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;

// Font size
$default-font-size: 1.6rem;
$heading-secondary-font-size: 3.5rem;
