// COLORS
// $color-primary-light: #0284c7;
// $color-primary: #0369a1;
// $color-primary-dark: #075985;

$color-primary-light: #f43f5e;
$color-primary: #be123c;
$color-primary-dark: #881337;

$color-secondary-light: #6366f1;
$color-secondary: #4338ca;
$color-secondary-dark: #312e81;

$color-tertiary-light: #facc15;
$color-tertiary: #eab308;
$color-tertiary-dark: #ca8a04;

$color-gray-background: #f7f7f7;
$color-gray-light: #777;
$color-gray-text: #555;
$color-gray-dark: #333;

$color-white: #fff;
$color-black: #000;

// Font size
$font-size-default: 1.6rem;
$font-size-sm: 1.8rem;
$font-size-lg: 3.5rem;
