.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 2rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    font-size: $default-font-size;
    border: none;
    cursor: pointer;
    position: relative;
    transition: all 0.2s;
  }

  &--white {
    background-color: $color-white;
    color: $color-gray-dark;
  }
}
