.story {
  margin: 0 auto;
  width: 75%;
  padding: 6rem;
  padding-left: 9rem;
  background-color: rgba($color-white, 0.8);
  margin-bottom: 8rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);

  transform: skewX(-12deg);

  &__img-box {
    height: 15rem;
    width: 15rem;

    transform: translateX(-3rem) skewX(12deg);
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
  }

  &__img {
    height: 100%;
    transform: scale(1.2) translateX(-3rem);
    transition: all 0.5s;
  }

  &__text {
    font-size: $font-size-default;
    color: #555;
  }

  &__text-box {
    transform: skewX(12deg);
  }

  &__caption {
    font-size: $font-size-default;
    color: $color-white;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    opacity: 0;
    transition: all 0.5s;
  }

  &:hover &__img {
    filter: blur(3px) brightness(80%);
    transform: scale(1) translateX(-3rem);
  }

  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
