*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%; // 9px
  }
  @include respond(tab-port) {
    font-size: 50%; //8px
  }
  @include respond(big-desktop) {
    font-size: 75%; //12px
  }
}

body {
  padding: 30px;

  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
