.-u-center-text {
  text-align: center;
}

.-u-center-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-margin-rigt-sm {
  margin-right: 2rem;
}

.-u-center-box-v {
  display: flex;
  align-items: center;
}

.-u-center-h {
  display: flex;
  justify-content: center;
}
