.section-about {
  padding: 25rem 0;
  background-color: $color-gray-background;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;

  background-image: linear-gradient(
      to right,
      rgba($color-primary, 0.2),
      rgba($color-secondary, 0.2)
    ),
    url('/imgs/festival-1.jpg');

  background-size: cover;
  background-position: bottom;

  transform: skewY(-7deg);
  margin-top: -10rem;
  > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
  background-color: $color-gray-background;
}

.section-story {
  padding: 15rem 0;
  position: relative;
}
